.profilemodal {
    display: flex;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.profilemodal.profileopen {
    opacity: 1;
    visibility: visible;
}

.profileclose {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 24px;
    font-size: 24px;
    font-weight: bold;
    color: black;
}

.profilemodal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
    max-height: 100vh;
    overflow-y: auto;
}

.profilemodal-header {
    color: black;
}

.profilemodal-subtitle {
    font-size: 0.8em;
    color: #665;
    margin-top: -10px;
    margin-bottom: 20px;
    text-align: center;
}

.profile-stats {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 10px;
}

.stat-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stat-column h3 {
    margin-bottom: 5px;
    font-size: 1em;
    color: #333;
}

.stat-column p {
    font-size: 1.2em;
    font-weight: bold;
    color: black;
    margin: 0;
}

label {
    color: black;
}

.profile-comments-list {
    list-style: none;
    padding: 0;
    background-color: #f9f9f9;
    border-radius: 5px;
    border: 1px solid #ddd;
    max-height: 230px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}