ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3B429F;
}

ul li {
    float: left;
}

ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.5s;
}

ul li a:hover {
    background-color: #2596be;
    color: white;
}

.navbar-logo {
    height: 20px; /* Adjust later to be dynamic with navbar*/
    width: auto;
    vertical-align: middle;
}

.navbar-logo-li:hover {
    background-color: #3B429F;
}