:root {
  font-family: "Roboto Condensed", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #F6E8EA;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.link {
    font-weight: bold;
    text-decoration: none;
    color: violet;
}

.text-container {
    width: 60%;
    margin: 0 auto;
    text-align: left;
}

.header {
    margin-top: 35px;
    color: black;
}

.subheader {
    margin-top: 20px;
    color: black;
}

p {
  color: black;
}